#body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}
#bgv{
  position: fixed;
  height: 881px;
  width: 1566px;
  z-index: -1;
}
.navbar-nav{
  margin-left: auto;
}

#title{
  /* background-color: black; */
  color: wheat;
  width: 100%;
  height: 700px;
}

#mainheading{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

#title-container{
  padding: 3% 15%;
}

#navbar{
  padding-bottom: 4.5rem;
}

#navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item{
  padding: 0 18px;
}

#download-buttons{
  margin: 5% 3% 5% 0%;
}

#upload{
  /* background-color: #e9e9e9; */
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#imageInput{
  color: black;
}

#uploadLabel{
  color: black;
  border-radius: 15%;
  border: 1px dotted black;
}
#footer{
  text-align: center;
  /* background-color: #fff; */
  padding: 3% 15% 3%;
}

#footer-icons{
  padding: 2% 1%;
  color: wheat;
}

#footer p{
  color: wheat;
  font: "Montserrat";
  font-size: 15px;
  font-weight: 500;
}
